accelerate
codetiming
datasets
liger-kernel
mathruler
numpy
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]
tensordict
torchdata
transformers==4.57.1
vllm==0.11.0
wandb
flash-attn
scipy
aiohttp
beautifulsoup4
deepspeed
einops
filelock
jinja2
json-repair
matplotlib
msgspec
networkx
openai
psutil
pyyaml
safetensors
tqdm
yt-dlp
